{
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "indent": [2, "tab"],
    "comma-dangle": ["error", "never"],
    "react/jsx-indent": [2, "tab"],
    "no-tabs": 0
  }
}